<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
         header {
            background-color: #333; /* Dark background color for the header */
            color: #fff; /* Text color for header */
            text-align: center;
            padding: 20px;
        }
        h1 {
            font-size: 36px; /* Adjust the font size as needed */
            margin: 0;
        }
        nav ul {
            list-style-type: none;
            padding: 0;
        }
        nav li {
            display: inline;
            margin-right: 20px;
        }
        nav a {
            text-decoration: none;
            color: #fff; /* Text color for links in the header */
        }
    </style>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/tasks">todolist</a></li>
                <li><a href="/createtodo">create task</a></li>
                <li><a href="/updatetodo">update task</a></li>
                <li><a href="/deletetodo">delete task</a></li>
                <li><a href="/logout">log out</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>